body{
    width: 100%;
    margin: auto;
    text-align: center;
}
.cats{
    display: inline-block;
    margin-top: 20px;
}
.button{
    margin-top: 20px;
    text-align: center;
}
img{
    display: block;
    float: left;
    border: 2px solid black;
    margin-left: 10px;
    margin-bottom: 20px;
}
.hidden{
    display:none;
}